<template>
  <div class="container-fluid">
    <div class="header">
      <h3>Thrive Through Change Growth Mindset Quiz</h3>
    </div>

    <div class="container-fluid box">
      <div id="row-padre" class="row">
        <div class="col-5">
          <div> <img style="max-width:100%;height:auto;" src="@/assets/asset_result.png"/></div>
          <div class="row">
            <div class="col-4" ><h1 style="font-size:8vw">{{fixedScore}}</h1></div>
            <div class="col-4"></div>
            <div class="col-4"><h1 style="font-size:8vw">{{growthScore}}</h1></div>
          </div>
          <div class="row">
            <div class="col-4"><p>Your Fixed Mindset Score</p></div>
            <div class="col-4"></div>
            <div class="col-4"><p>Your Growth Mindset Score</p></div>
          </div>
          <br>
          <div class="container-fluid">
           <b-progress :value="mayor" :max="max"  animated></b-progress>
          </div>
          <div class="row">
            <div class="col-3" style="text-align:left">FIXED</div>
            <div class="col-6"></div>
            <div class="col-3" style="text-align:right">GROWTH</div>
          </div>
          <br>
           <br>
          <div class="container-fluid">
            <p> 
              Our mindsets exist on a continuum from fixed to growth. Although
              we’d like to always have a growth mindset, the reality is that we can
              only be on a journey to a growth mindset. The goal is to recognize
              fixed mindset tendencies in ourselves and then reflect on feedback
              and strategies to improve
            </p>
          </div>
        </div>
        <div id="col-divisor" class="col-2">
          <div class="divisor"></div>
        </div>
        <div class="col-5">
            <div class="row">
              <div class="col-10"></div>
              <div class="col-2">
                
              </div>  
            </div>
            <div ><h2>Which score is higher?</h2></div>
            <br>
            <div >
              <p>
                Use your scores as a benchmark to track your progress over the
                coming weeks and months. As you make a habit of embracing a
                growth mindset, you will see that score go up and your fixed mindset
                score go down.
              </p>
            </div>
            <br>
            <div ><h4>DO MORE:</h4></div>
            <br>
            <div ><h5>Believe that you can always improve.</h5></div>
            <div ><h5>See opportunities in the challenge.</h5></div>
            <div ><h5>Use change to develop your strengths and weaknesses.</h5></div>
            <br>
            <div ><h4>DO LESS:</h4></div>
            <br>
            <div ><h5>Believe you have it, or you don’t.</h5></div>
            <div ><h5>Feel threatened by change.</h5></div>
            <div ><h5>Worry when change reveals a weakness.</h5></div>
            <br>
            <b-container fluid>
              <b-row>
                <b-col>
                   <button type="button" v-on:click="reTaken" class="btn btn-primary">Retaken quiz</button>
                </b-col>
                <b-col>
                </b-col>
                 <b-col>
                    <button type="button" v-on:click="onPrint" class="btn btn-primary">Print Results</button>
                </b-col>
              </b-row>
            </b-container>    
        </div>
      </div> 
    </div>
  </div>

</template>

<script>
export default {
  name: 'Result',
  props: {
    msg: String
  },
   data: function(){
    return {
      answers: [],    // we use it to keep the response loaded in memory
      fixedScore: 0,  // initialize the fixedScore and growthScore variable
      growthScore: 0,
      mayor: 0,       // initialize the major variable
      max: 100         // initialize the maximum value of the proggress bar
    }
   },
   methods: {
     /**
      * This method executes the action of printing the results
      */
     onPrint(){
       console.log('print');
       window.print();
     },

    /** 
     * clear the answers
    */
     clear() {
       for(var i = 1; i <= this.answers.length; i++){
        this.answers[i-1].answer = 1;
       }
       localStorage.setItem('answers', JSON.stringify(this.answers));
       this.$router.push({ name: 'home'});
     },
     reTaken (){
       
       this.$router.push({ name: 'home'});
     },

      /**
       * This method calculates the results
       */
     calculate(){
       console.log('print');

       // cycle that goes through the answer and calculates the results
       for(var i = 1; i <= this.answers.length; i++){
         console.log(this.answers[i-1]);
 
        // conditional that verifies which of the questions belongs to the fixedScore
         // it belongs to growthScore
         if(i == 1 || i == 4 || i == 5 || i == 8 || i == 9 ){
           this.fixedScore += this.answers[i-1].answer;
         }else{
           
            // summation of the results
           this.growthScore += this.answers[i-1].answer;
         }
       }

       this.mayor = ((this.fixedScore / (this.fixedScore + this.growthScore)) * 100);
        // we assign the highest
        
       
     }

   },
  mounted() {
  console.log('App mounted!');
     // we get in memory the responses stored in localstorage
    if (localStorage.getItem('answers')) 
    this.answers = JSON.parse(localStorage.getItem('answers'));
    this.calculate(); // we calculate the results
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.divisor{
    background: #0070BC;
    width: 10px;
    height: 100%;
    margin: auto;
}
.box{
   padding-top: 20px;
   
}

.header{
  background: #0070BC;
  font-style: italic;
  color: white;
  height: 40px;
}


@media only screen and (max-width: 600px) {
  
  #col-divisor{
        -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 100%; 
  }
  .divisor {
    background: #0070bc;
    width: 100%; 
    height: 10px;
    margin: auto;
}

#row-padre.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 100%; 
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #col-divisor{
        -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
   max-width: 100%; 
  }
  .divisor {
    background: #0070bc;
    width: 100%; 
    height: 10px;
    margin: auto;
}
#row-padre.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 100%; 
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 #col-divisor{
        -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
  }
  .divisor {
    background: #0070bc;
    width: 10px; 
    height: 100%;
    margin: auto;
}

#row-padre.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 100%; 
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 #col-divisor{
        -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
  }
  .divisor {
    background: #0070bc;
    width: 10px; 
    height: 100%;
    margin: auto;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 #col-divisor{
        -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
  }
  .divisor {
    background: #0070bc;
    width: 10px; 
    height: 100%;
    margin: auto;
}
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
h1{
  color: #42b983;
  font-size: 80pt;
  font: 900;
}
a {
  color: #42b983;
}
</style>