<template>
  <b-container fluid>
    <div class="header">
      <!--Header -->
      <h3>Thrive Through Change Growth Mindset Quiz</h3>
    </div>

    <!--Container main-->
    <b-container class="bv-example-row box">
      <b-row>
        <b-col cols="5">
          <div class="fila">
            <div class="columna">
              <img style="max-width:100%;height:auto;" src="@/assets/start_page_1.png">
            </div>
            <div class="columna">
              <h1>How does your brain respond to change?</h1>
            </div>
            <div class="columna">
              <img style="max-width:100%;height:auto;" src="@/assets/start_page_2.png">
            </div>
          </div>

          <br>
          <b-container fluid>
            <h5>Take this short quiz to reveal your growth mindset score.</h5>
          </b-container>
          <br>
          <div>
            <p>
              Do you think that your personal qualities are fixed and can’t change?
              Or do you believe that your abilities and intelligence can grow with
              effort, time and experience? Find out how your brain responds to
              change and what you can do to foster a growth mindset.
            </p>
            <br>
            <p>
              Remember, there are no wrong answers. Your scores will give you a
              jumping-off point as you make your way along the path to develop a
              growth mindset.
            </p>
          </div>
        </b-col>
        <b-col>
          <div class="divisor"></div>
        </b-col>
        <b-col cols="5">
          <b-row>
            <b-col>
              <p>1/10</p>
            </b-col>
            <b-col>
              <h4>Question 1</h4>
            </b-col>
            <b-col></b-col>
          </b-row>
          <p>I try to outperform my coworkers</p>
          <MyLottie :index="1" :valor="myValue" v-on:next="onNext" v-on:answer="getAnswer"/>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import MyLottie from "@/components/MyLottie.vue";
export default {
  name: "Start",
  data: function() {
    return {
      myValue: String(JSON.parse(localStorage.getItem("answers"))[0].answer - 1), // we use it to initialize the slider
      answers: [
        // property that we initialize with the answers
        {
          q: 1,
          answer: 1
        },
        {
          q: 2,
          answer: 1
        },
        {
          q: 3,
          answer: 1
        },
        {
          q: 4,
          answer: 1
        },
        {
          q: 5,
          answer: 1
        },
        {
          q: 6,
          answer: 1
        },
        {
          q: 7,
          answer: 1
        },
        {
          q: 8,
          answer: 1
        },
        {
          q: 9,
          answer: 1
        },
        {
          q: 10,
          answer: 1
        }
      ]
    };
  },
  components: {
    MyLottie
  },
  props: {
    msg: String
  },
  created() {

     console.log("App mounted!");
    // we bring from the local storage the data of the questions
    if (localStorage.getItem("answers"))
      this.answers = JSON.parse(localStorage.getItem("answers"));
      this.myValue = String(this.answers[0].answer - 1);

      console.log(this.myValue);
    
  },
  mounted() {
   
  },
  watch: {
    answers: {
      handler() {
        console.log("Todos changed!");
        // if we detect any change in the answers, we store them in localstorage
        localStorage.setItem("answers", JSON.stringify(this.answers));
      },
      deep: true
    }
  },
  methods: {
    /**
     * We use this method to show the following question
     */
    onNext(next) {
      this.$router.push({ name: "question", params: { num: 2 } });
    },

    /**
     * This method is responsible for obtaining the response of the slider
     */
    getAnswer(answer) {
      // We updated the response of the json array
      this.answers[0].answer = parseInt(answer, 10) + 1;
      console.log("answer", answer);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .divisor {
     background: #0070bc;
    /* width: 10px; */
    height: 10px;
    margin: auto;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 100%; 
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 .divisor {
     background: #0070bc;
    /* width: 10px; */
    height: 10px;
    margin: auto;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 100%; 
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .divisor {
  background: #0070bc;
  width: 10px;
  height: 100%;
  margin: auto;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 100%; 
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .divisor {
  background: #0070bc;
  width: 10px;
  height: 100%;
  margin: auto;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .divisor {
  background: #0070bc;
  width: 10px;
  height: 100%;
  margin: auto;
}
}

#ex1Slider .slider-selection {
  background: #bababa;
}
.fila {
  display: flex;
}
.columna {
  padding: 1px;
}
.box {
  padding-top: 20px;
}
.header {
  background: #0070bc;
  font-style: italic;
  color: white;
  height: 40px;
}


ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
h1 {
  color: #42b983;
  font-weight: 900;
}
a {
  color: #42b983;
}
</style>
